.NavBarContainer {
  // font-family: 'Anton', sans-serif;
  font-family: 'Righteous', sans-serif;
  // background: #CC9900;
  background: #FFEFDB;
  // background: #252525;
  // background: #3F250B;
  // background: transparent;
  height: 4em;
  border-bottom: $custom-border-setting;
  border-radius: $custom-border-radius;
  box-shadow: ($custom-border-shadow - 2);
  z-index: 5;
  margin:0;

  .navbar-brand {
    padding-top: 0.5em;
  }
  
  .navbar-toggle {
    border-color: #000000;
    border-width:2px;
    .icon-bar { 
      background-color: #000000;
    }
  }

  .navbar-toggle:hover {
    background-color: #8B4513;
  }

  .navbar-collapse {
    border-color: #CC9900;
  }

  li {
  list-style: none;

    .navBarItem {
      color: white;
      // padding: 10px 25px;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      // color: #5F3817;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }

    .navBarItem:hover {
      color: white;
    }
  }

}

.cleanLogo {
  height: 1.75em;
  width: 5em;
}