.LessonOverlay {
  background-color: #007f00;
  color: white;
  position: absolute;


  top: 35%;
  left: 25%;

  width: 50%;
  height: 20%;
  z-index: 11;
  text-align: center;
  padding-top: 0.5em;
  font-size: 2em;

  border-width: 1em;
  border-radius: 0.25em;
  border-color: white;

  opacity: 0.9;

  // -webkit-box-shadow:0 0 20px green; 
  // -moz-box-shadow: 0 0 20px green; 
  // box-shadow:0 0 20px green;

  // transition: width 1s;
  // transition: height 1s;
  // transition: opacity 1s;
   transition: all 1s;

}

.LessonAnimate {
  opacity: 0.0;
  margin-left: 10%;
  width: 80%;
  height: 25%;
  left: 0%;
}

.off {
  display: none;
}