.movieContainer {
  position: relative;
  z-index: 20;
  // display: block;
}

.TsarBomba {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index:99;
}

.movieoverlay {
  position:fixed;
  top:0; 
  left:0; 
  background:rgba(0,0,0,0.6); 
  z-index:5; 
  width:100%; 
  height:100%; 
}

.hide {
  display: none;
}