//Modules and Variables
$custom-border-setting: 1px solid #000;
$custom-border-radius: 3px;
$custom-border-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 3px rgba(0, 0, 0, 0.35);

$custom-background-color: #343c43;
// $custom-background-color: #8B4C39;
$custom-background-opacity: 0.7;

//Partials
@import "universal/universal";
@import "basenavbar/navbar";
@import "basefrontpage/frontpage";
@import "baselessonselect/baselessonselect";
@import "baselessons/lessons";
@import "baselogin/loginbox";
//Third Party
