html, body {
  height: 100%;
  background-color: #8B8989;
  /*background-image: url('https://jasonahurley.files.wordpress.com/2012/11/theroadlandscape.png');
  background-size: 100% 100%;*/
  overflow: auto;
}


.footer {
  background:#D3D3D3;
  color:white;   

  ul {
    list-style: none;
  }
}

li {
  cursor: pointer;
}

#lessonList {
  width: 100%;
  height: 100%;

}
#lessonList td {
  text-align: center; 
  vertical-align: middle;
  padding: 24px
}

.lessonListItemBG {
  border-style: solid;
  border-width: 4px;
}