html, body {
  height: 100%;
  background-color: #8B8989;
  /*background-image: url('https://jasonahurley.files.wordpress.com/2012/11/theroadlandscape.png');
  background-size: 100% 100%;*/
  overflow: auto;
}


.footer {
  /*position:absolute;
  bottom:-5%;
  left:-3%;
  width:103%;
  padding-left: 3%;
  height:15%;*/
  background:#D3D3D3;
  color:white;   

  ul {
    list-style: none;
  }
}

li {
  cursor: pointer;
}