

.title-container {
  text-align: center;

  img {
    height: 120px; 
    width: 120px;

  }
}

.LessonSelectContainer {
  text-align: center;
  // background-color: #3F250B;
  // color: #FFEFDB;
  color: white;

  h1 {
    font-size: 2em;
  }
}

.innerLessonsContainer {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  padding: 5%;
  background-color: #738F9B;
  // background-color: #01b5d8;


  .LessonArticle {
    align-items: center;
    // background-color: white;
    background-color: #FFEFDB;
    color: #5f3817;
    // color: white;
    margin: 3em;
    width: 25em;
    height: 35em;
    border-radius: 3em;
    border-width: 3em;
    // border-color: black;
    // cursor: pointer;
    -webkit-box-shadow:0 0 30px black; 
    -moz-box-shadow: 0 0 30px black; 
    box-shadow:0 0 30px black;
    transition: box-shadow 0.25s;
    overflow: hidden;
  }

  .backglow:hover {
    box-shadow: 0 0 30px white;
  }

  .LessonPicture {
    display: block;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    background-position: center;
    background-size: 25em 16em;
    overflow: hidden;
    width: 25em;
    height: 16em; 
  }

  .Lesson1img {
    background-image: url("/assets/images/lesson1Button.png");
  }
  .Lesson2img {
    background-image: url("/assets/images/lesson2Button.png");
  }
  .Lesson3img {
    background-image: url("/assets/images/lesson3Button.png");
  }
  .Lesson4img {
    background-image: url("/assets/images/lesson4Button.png");
  }
  
}

.LessonTextDescription {
  margin: 2em;

  h3 {
    text-align: center;
    margin-bottom: 1.5em;
  }
}

.UnderConstruction {
  transition: all 0.2s ease;
  -webkit-filter: grayscale(0) brightness(1.0);
  filter: grayscale(0) brightness(1.0);
  overflow: hidden;
}
.UnderConstruction:hover{
  transition: all 0.2s ease;
  -webkit-filter: grayscale(0.8) brightness(0.5);
  filter: grayscale(0.8) brightness(0.5);
  overflow: hidden;
}
