.splashbox {
  height: 100%;
  width: 101%;
  min-height: 55em;
  min-width: 30em;
  background-color: #FFEFDB;
  background: radial-gradient(ellipse, #FFEFDB, #f4bf11);
  // background: radial-gradient(#FFEFDB, #EFDD6F);
  text-align: center;
  padding: 10em;
  padding-left: 20%;

  .splashwords {
    display: inline-block;
    width: 30em;
    height: 20em;
    border-radius: 15em;
    background: #3F250B;
    color: white;
    font-family: 'Righteous';
    // font-family: 'Dancing Script','Pacifico','Lobster', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    h1 {
      top: 20%;
      position:relative;
      display: inline-block;
    }

    p {
      top: 20%;
      position: relative;
      display: inline-block;
    }
  }

  .splashquickstart {
    display: inline-block;
    height: 25em;
    width: 30em;
    border-radius: .5em;
    color: gray;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 3em;
      transition: transform 0.75s;
    }

    img:hover {
      transform: translateY(-8%);
    }
    .LessonTextLink {
      display: block;
      text-align: center;
    }
  }
}

.aboutus {
  height: 100%;
  width: 100%;
  min-height: 40em;
  min-width: 30em;
  z-index:-2;
  // background-color: #9fd5d0 ;
  background-color: #3F250B;
  opacity: 0.8;
  text-align:center;
  padding: 8em;
  color:white;
  // color: #FFEFDB;

  .Person {
    top:10%;
  }

  .Portrait {
    height: 15em;
    width:15em;
    position:relative;
    top:50%;
    background-color: white;
    border-color: #3F250B;
    border-radius: 5.5em;
    color: yellow;
    margin: 0 auto;
    margin-bottom: 2em;
    overflow: hidden;
    z-index:4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 20px black;

  }

  .Kurt {
    background-image: url('https://avatars3.githubusercontent.com/u/8601772?v=3&s=460');
  }
  .Brian {
    background-image: url('https://avatars1.githubusercontent.com/u/8295920?v=3&s=460');
  }

  .John {
    background-image: url('https://avatars2.githubusercontent.com/u/10604446?v=3&s=460');
  }
  .Lu {
    background-image: url('https://avatars1.githubusercontent.com/u/8801819?v=3&s=460');
  }
}


.description {
  min-width: 90%;
  min-height: 100%;
  background-color: #C48E48;
  display: block;
}

.lessonSelectRedirect {
  position: relative;
  float: bottom;
  // background-color: #212121;
  // background-color: #3F250B;
  font-family: 'Righteous';
}

.color1 {
  height:100%;
  width: 100%;
  background-color: black;
}

.color2 {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.GithubIcon {
  height: 3.5em;
  width: 3.5em;
}

.GithubIconDiv {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 3.5em;
  width: 3.5em;
  background-image: url('/assets/images/GitHub-Mark-Light-gray.png');
  background-size: contain;
  transition: background-image 0.2s;
}

.GithubIconDiv:hover {
  background-image: url('/assets/images/GitHub-Mark-Light-white.png');
}


