.header-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    margin: 1.25em;
}
.Title {
  font-size: 4.5em;
  margin-bottom: 0;
}

.SubTitle {
  margin-top: 0;
  margin-bottom: 3.5em;
}

.headerButtons {
  margin-left: 1.5em;
  margin-right: 1.5em;
  // background-color: #FFEFDB;
  background-color: #327aa3;
  // color: #5f3817;
  border-color: white;
}
.headerButtons:hover {
  background-color: #4281A4;
  border-color: white;
}





.aboutus {
  height: 100%;
  width: 100%;
  min-height: 40em;
  min-width: 30em;
  z-index:-2;
  // background-color: #9fd5d0 ;
  background-color: #3F250B;
  opacity: 0.8;
  text-align:center;
  padding: 8em;
  color:white;
  // color: #FFEFDB;

  .Person {
    top:10%;
  }

  .Portrait {
    height: 15em;
    width:15em;
    position:relative;
    top:50%;
    background-color: white;
    border-color: #3F250B;
    border-radius: 5.5em;
    color: yellow;
    margin: 0 auto;
    margin-bottom: 2em;
    overflow: hidden;
    z-index:4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 20px black;

  }

  .Kurt {
    background-image: url('https://avatars3.githubusercontent.com/u/8601772?v=3&s=460');
  }
  .Brian {
    background-image: url('https://avatars1.githubusercontent.com/u/8295920?v=3&s=460');
  }

  .John {
    background-image: url('https://avatars2.githubusercontent.com/u/10604446?v=3&s=460');
  }
  .Lu {
    background-image: url('https://avatars1.githubusercontent.com/u/8801819?v=3&s=460');
  }
}


.description {
  min-width: 90%;
  min-height: 100%;
  background-color: #C48E48;
  display: block;
}

.lessonSelectRedirect {
  position: relative;
  float: bottom;
  // background-color: #212121;
  // background-color: #3F250B;
  font-family: 'Righteous';
}

.color1 {
  height:100%;
  width: 100%;
  background-color: black;
}

.color2 {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.GithubIcon {
  height: 3.5em;
  width: 3.5em;
}

.GithubIconDiv {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 3.5em;
  width: 3.5em;
  background-image: url('/assets/images/GitHub-Mark-Light-gray.png');
  background-size: contain;
  transition: background-image 0.2s;
}

.GithubIconDiv:hover {
  background-image: url('/assets/images/GitHub-Mark-Light-white.png');
}


.descriptorsContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 5em;
  width: 100%;
  background-color: #FFEFDB;
  color: #5f3817;


  .splashwords {
    height: 20em;
    width: 40em;
    padding: 2em;
    text-align: center;
    float: right;
  }
  .splashquote {
    height: 20em;
    width: 35em;
    text-align:center;
    font-size: 1.1em;
    padding: 2.5em;
    p {
      float: right;
    }
  }
  .descriptors {
    text-align: center;
    padding: 1em;
    margin: 2em;
    width: 25em;
    height: 30em;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    background-color: transparent;
  }
}
