@import url(http://fonts.googleapis.com/css?family=Rock+Salt|Black+Ops+One|Oswald|Fredericka+the+Great);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul .right,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  border: 3px solid #fd8a17;
  border-radius: 3px;
  font-family: 'Fredericka the Great', sans-serif;
  line-height: 1;
  /*background: #f7f7f7;*/
  box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  padding: 10px 25px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #444444;
}
/*#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #fd8a17;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}*/
#arrow {
  position:absolute;
  width: 30px;
  top: 25px;
  left: 40px;
  z-index:1;
}

#tableofcontents,
#tableofcontents ul,

#tableofcontents #menu-button{
  margin: 25px;
  padding: 15px;
  border: 0;
  list-style:none;
  line-height: 2;
  display: inline-block;
  position: relative;
}
#tableofcontents:after,
#tableofcontents > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 100px;
}
#tableofcontents #menu-button {
  display: none;
}
#tableofcontents {
  width: auto;
  border: 3px solid #fd8a17;
  border-radius: 3px;
  font-family: 'Fredericka the Great', sans-serif;
  line-height: 1;
  /*background: #f7f7f7;*/
  float:left;
  box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);
}

#tableofcontents > ul > li {
  margin:15px;
  padding: 10px 25px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.module {
  width: 100%;
}

.codearea {
  width: auto;
  line-height: 1;
  border-radius: 3px;
  border: 2px solid #8AC007;
  padding: 2px; 
  width: 200px;
  height: 150px; 
  float:left;
}

.codearea > textarea{
  width: 100%;
  height:100%;
}

#contents {
  border-radius: 25px;
  border: 2px solid #8AC007;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  float:left;
}
